
QWidget {
    background-color: #f0f0f0;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

QWidget#ControlCenter {
    background-color: #f0f0f0;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border: 2px solid #545860;
    border-radius: 5px;
}

QWidget#AnalysisCenter {
    background-color: #f0f0f0;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

QPushButton {
    background-color: #545860;
    color: #ffffff;
    border: 2px solid #545860;
    border-radius: 5px;
    max-width: 500px;
    padding: 10px;
    border-image: linear-gradient(
        to bottom,
        #545860,
        #545860
    ) 1 100%;
    border-radius: 2px;
}

QPushButton#tare {
    max-width: 200px;
    max-height: 120px;
}

QLabel {
    border: #f0f0f0;
}

QLabel#error {
    color: #b60000;
    font-size: 12px;
}

QLabel#device_info {
    font-size: 12px;
    position: absolute;
}

QLabel#title{
    font-size: 20px;
    font-weight: bold;
}

QLabel#weight {
    font-size: 40px;
    font-weight: bold;
}

QLineEdit {
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
    max-width: 200px;
}

QComboBox {
    background-color: #ffffff;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 5px;
    max-width: 200px;
}

QComboBox QAbstractItemView {
    background-color: #ffffff;
    border: 1px solid #333333;
    border-radius: 5px;
}

QComboBox QAbstractItemView::item:selected {
    background-color: #0B41CD;
    color: #ffffff;
}

QComboBox#component {
    border: 2px solid #0B41CD;
    border-radius: 5px;
    padding: 5px;
}

QMenuBar {
    background-color: #545860;
    color: #ffffff;
    border: 2px solid #545860;
    border-radius: 0px;
}

QMenuBar::item {
    background-color: #545860;
    color: #ffffff;
}

QMenuBar::item:selected {
    background-color: #0B41CD;
    color: #ffffff;
}

QMenu {
    background-color: #545860;
    color: #ffffff;
    border: 0px;
}

QMenu::item:selected {
    background-color: #0B41CD;
    color: #ffffff;
}

QTabBar::tab:selected {
    background-color: #545860;
    padding: 10px;
    border: 2px solid #0B41CD;
}

QTabBar::tab:selected {
    background-color: #0B41CD;
    color: #ffffff;
}